/* General */

:root {
    --background: #eee;
    --primary: #0d6efd;
    --device-frame-color: #000;
    --device-screen-color: #252525;
}

/* General */

body {
    background-color: var(--background);
}

/* Devices */

.device {
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 140%;
    background-color: var(--device-frame-color);
}

.device .device-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
    background-color: var(--device-screen-color);
    padding: 20px;
    color: white;
    transition: background-color 800ms ease;
}

.device.device-locked .device-inner {
    background-color: var(--primary);
}

.device progress {
    -webkit-appearance: none;
    appearance: none;
}

.device progress::-webkit-progress-value {
    background: var(--device-frame-color);
}

.device progress::-webkit-progress-bar {
    background: white;
}